.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #0138a5;
  min-height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.App-list {
  max-width: 300px;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  flex: 3;
}

.content .entries {
  display: flex;
  align-items: center;

}

.main .content .vehicle-info {
  display: flex;
  align-items: flex-start;
  font-size: 300%;
  font-weight: bold;
}

.main {
  display: flex;
  width: 100%;
}

.main .content .buttons {
  display: flex;
  align-items: flex-start;
}